<div class="tasks">
          <ul>
            <li>
              <h5 id="h5"><%= project.title %></h5>
              <hr>
              <p style="display: none">
              <%= link_to 'Show', project %>
              <%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            </li>
            <% if project.todos.any? %>
              <li class="check">
                
              <%= render project.todos %>
                
              </li>
            <% end %>
          </ul>
</div>