<div class="modal-header">
  <h5 id="h5">Новая задача</h5>
</div>


<%= form_with(model: todo) do |form| %>
<div class="modal-body">
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :text, class: 'form-control', placeholder: 'Название задачи...', required: true %>
  </div>

  <div class="field">
    <%= form.check_box :isComplited, class: 'isComplited' %>
  </div>

  <div class="field">
    <%= form.select :project_id, options_for_select(Project.all.map{|p|[p.title, p.id]}.insert(0, 'Новая категория...')), {prompt: 'Категория'}, required: true, class: 'form-select form-select-lg', id: 'category' %>
  </div>
</div>

<div class="modal-footer">
  <div class="actions">
    <%= link_to 'ОТМЕНА', projects_path, class: 'btn btn-secondary btn-lg btn-width', id: 'cancel_todo' %>
    <%= form.submit 'ОК', class: 'btn btn-primary btn-lg btn-width', id: 'submit_todo' %>
  </div>
</div>

<% end %>
